<div class="container" appLogin>
  <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-sm-offset-3  loginbox">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class=" row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
          <img src="../../assets/images/logo_3.png" alt="Logo" class="logo">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
          <span class="singtext">Sign in </span>
        </div>
      </div>
      <div class=" row loginbox_content ">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input class="form-control" type="text" name='username' placeholder="User Name Or Mail Id Or Mobile Number" required autofocus
            [(ngModel)]='username'>
        </div>
        <br>
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input class="form-control" type="password" name='password' placeholder="Password" required [(ngModel)]='password'>
        </div>
      </div>
      <div class="row ">
        <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword ">
          <a href="#" routerLink="/reset" style="color: #1B5E20;"> Forgot Username / Password?</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
          <button class=" btn  submit-btn" type="submit">
            Login
            <span class="glyphicon glyphicon-log-in"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-4 "></div>
</div>