<div class="container">
  <div id="passwordreset" style="margin-top:20%" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Password Reset
          <a id="signinlink" href="#" routerLink="/admin" class="pull-right">Sign In Here</a>
        </div>
      </div>
      <div class="panel-body">
        <form id="signupform" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">Registered Username</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="email" [(ngModel)]='username' placeholder="Enter your email address Or Mobile Number"
                required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <button id="btn-signup" class="btn btn-reset" (click)="onReset()">Reset</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%;color: #1B5E20;">
                We'll send you an email with a link or sms for mobile to reset your password.
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>