.panel-info>.panel-heading {
    color: #81C784;
    background-color: #81C784;
    border-color: #81C784;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
}
.panel-info {
    border-color: #81C784;
    border: 3px solid #81C784;
}
.btn-reset{
    color: #fff;
    background-color: #66BB6A;
    border-color: #C8E6C9;
}
a {
    color: #fff;
    text-decoration: none;
}
.control-label{
    color: #1B5E20;
}