  .search i {
    position: absolute;
    right: 0;
    background: white;
    color: #3572B0 !important;
    height: 23px;
    width: 20px;
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.div2role{
    padding-bottom:10px
}
label{
    padding-top: 5px;
}
.btn{
    background-color: #3572B0;
    color: white;
}
.roletab{
    text-align:center
}
.fa-search{
    color: rgb(13, 13, 14);
}
.fa-plus{
    color: white;cursor:pointer
}
.searchtext{
    width: 150px;color:black;font-weight:100 
}
.add{
    float: right
}
.header {
    border-bottom: solid 2px #dc9615;
    font-weight: bold;
    color: #0143a3;
    background: #fff;
    z-index: 999;
    text-align: center
}
.div1{
    padding-top: 40px;
}

.search{
    position: relative;margin-left: 20px;
}
.content {
    border-bottom: solid 1px #ececec;
    background-color: white;
    line-height: 2;
}
.content:hover {
background-color:#accfec;
}
.activeRowTable{
    background-color:#accfec;  
    display: table;
    width: 100%;  
}
.createrole{
    width: 30%;
}
.deleterole{
    width: 20%
}
.disabled {
    cursor: not-allowed;
    background: #dddddd;
}
.content-body {
    position: relative;
}
.panel-body{
    padding-bottom: 0;
}
.div2rolename{
    padding:0;
    width: 5%;
}
.fa-pencil-square-o{
    font-size: 30px;cursor: pointer
}
.modules{
    text-align: center;
    padding-top: 20px;
}
.no-padding
{
    padding: 0;
    border: 1px solid #ccc;background-color: #3572B0;color: white
}
.search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* border: solid 1px #b1afaf; */
    border-radius: 5px;
    outline: none;
    padding-right: 15px;
}
.panel-heading {
    font-weight: bold;
    font-size: 16px;
    background-color: #3572B0;color: white
}
.buttonrow{
    padding-top:10px
}
.savebutton{
    padding: 0;
}
.checkboxs{
    text-align: center;
}
.checkboxrow{
    border-left: 1px solid #ccc;
}
.modulerow{
    border: 1px solid #ccc;line-height:2
}
.permittype{
    border-right: 1px solid #ccc;
}
.permissionsrow2{
    line-height: 2;
}
.permissionsrow1{
    border-bottom: 1px solid #ccc;line-height: 2;text-align:center 
}
.permissionsrow{
    border-left: 1px solid #ccc
}