<div class="col-sm-4 div1 ">
  <div class="panel panel-default serviceMaster">
    <div class="panel-heading">Roles
      <span class="add" (click)="addAndeditRole()">
        <a data-toggle="modal" data-target="#service">
          <i class="fa fa-plus" aria-hidden="true" (click)='addAndeditRole()'></i>
        </a>
      </span>
      <span class="search">
        <input type="text" class="searchtext" [(ngModel)]="rolenamefilter">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
    <div class="panel-body">
      <div class="row header">
        <div class="col-sm-12">Roles</div>
      </div>
      <div class="content-body">
        <div class="row content" *ngFor="let role of roleList | filter:rolenamefilter">
          <span class="data_action" data-toggle="modal" data-target="#service" (click)="addAndeditRole(role)" [ngClass]="{'activeRowTable':role.roleName === activeRole}">
            <div class="col-sm-12 roletab">{{role.roleName}}</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-6 div1" *ngIf='showRoleDiv'>
  <form id="test" #roleForm="ngForm" novalidate>
    <fieldset [disabled]="disableRoleDiv">
      <div class="row div2role">
        <span class="col-sm-2 div2rolename">
          <label>Role:</label>
        </span>
        <span class="col-sm-4">
          <!-- <input type="text" class="form-control" name='roleData.roleName' [(ngModel)]="roleData.roleName"> -->
          <input auto-complete (blur)="checkRoleExist(roleData.roleName)" [(ngModel)]="roleData.roleName" name='roleData.roleName'
            [source]="roleExist" id='roletextbox' />
        </span>
        <span class="col-sm-4 col-sm-offset-3">
          <i class="fa fa-pencil-square-o pull-right" aria-hidden="true" (click)='onRoleEdit()' *ngIf='showEditoption'></i>
        </span>
      </div>
      <div class="custom-table">
        <div class="row panel-heading no-padding">
          <span class="col-sm-6 modules">
            Module
          </span>
          <span class="col-sm-6 permissionsrow">
            <div class="row">
              <span class="col-sm-12 permissionsrow1 ">
                Permission
              </span>
              <span class="col-sm-12 permissionsrow2">
                <span class="col-sm-3 permittype"> View </span>
                <span class="col-sm-3 permittype createrole">Create </span>
                <span class="col-sm-3 permittype"> Edit </span>
                <span class="col-sm-3 deleterole"> Delete </span>
              </span>
            </div>
          </span>
        </div>


        <div class="row modulerow" *ngFor="let rolemodule of roleData.modules;let i = index ">
          <span class="col-sm-6">
            {{rolemodule.moduleName}}
          </span>
          <span class="col-sm-6 checkboxrow">
            <span class="col-sm-3 checkboxs">
              <input type="checkbox" [checked]=" rolemodule.permissions.GET " [(ngModel)]="rolemodule.permissions.GET " name='rolemodule.permissions.GET{{i}}'> </span>
            <span class="col-sm-3 checkboxs">
              <input type="checkbox" [checked]=" rolemodule.permissions.POST " [(ngModel)]="rolemodule.permissions.POST " name='rolemodule.permissions.POST{{i}}'> </span>
            <span class="col-sm-3 checkboxs">
              <input type="checkbox" [checked]=" rolemodule.permissions.PUT " [(ngModel)]="rolemodule.permissions.PUT " name='rolemodule.permissions.PUT{{i}}'> </span>
            <span class="col-sm-3 checkboxs">
              <input type="checkbox" [checked]=" rolemodule.permissions.DELETE " [(ngModel)]="rolemodule.permissions.DELETE " name='rolemodule.permissions.DELETE{{i}}'> </span>
          </span>
        </div>
        <div class="row buttonrow">
          <span class="col-sm-2 col-sm-offset-8 savebutton ">
            <button class="btn " (click)='saveRole(roleData)'>Save</button>
          </span>
          <span class="col-sm-2 ">
            <button class="btn " (click)='cancelRole()'>Cancel</button>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
</div>