/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


  /* .body-container{
    background-image:url('./assets/images/background.jpg');
    background-size: cover;
    opacity:0.6;
    position: relative 
  } */

  .loginBody {
    background-image:url('./assets/images/background.jpg');
     background-repeat: no-repeat;
      background-size: cover;  
     height: 100%;
overflow: hidden;

      
  }


  @media only screen and (max-width: 1200px) {
    .loginBody {
padding-bottom:   100%;
  }
}

  