<!-- <ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
      <span class="glyphicon glyphicon-user pull-right"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#" routerLink='./authorization'>Account Settings
          <span class="glyphicon glyphicon-cog pull-right"></span>
        </a>
      </li>


      <li class="divider"></li>
      <li>
        <a href="#" routerLink='./authorization'>Authorization
          <span class="glyphicon glyphicon-lock pull-right"></span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">User stats
          <span class="glyphicon glyphicon-stats pull-right"></span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Messages
          <span class="badge pull-right"> 42 </span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Favourites Snippets
          <span class="glyphicon glyphicon-heart pull-right"></span>
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">Sign Out
          <span class="glyphicon glyphicon-log-out pull-right"></span>
        </a>
      </li>
    </ul>
  </li>
</ul> -->

<ul class="nav nav-tabs">
  <li [ngClass]="{active:activeProfile === true }" (click)='onProfile()'>
    <a href="#" routerLink='./profile' routerLinkActive="active">profile</a>
  </li>
  <li [ngClass]="{active:activeAuthorized === true }" (click)='onAuthorized()'>
    <a routerLink='./authorization' href="#">Authorization</a>
  </li>
</ul>

<div class="">
  <router-outlet></router-outlet>
</div>